:root {
  --black: #101010;
  --dark-grey: #68676D;
  --grey: #9D9FAE;
  --light-grey: #F9F9F9;
  --blue: #2F37A6;
  --light-blue: #CBCDE4;
  --white: #FFFFFF;
  --red: #EB5757;
  --green: #219653;
  --yellow: #F2C94C;
}
